body {
	margin: 0%;
	margin-top: 10px;
	font: 80% sans-serif;
}

a {
	background-color:  #87c1a0;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

h1, h3{
	background: #82e0aa;
	width: absolute;
    margin: auto;
    border: 2px solid #73AD21;
    text-align: center;
}

tr {
    background:  #73c6b6;
    padding: 10px;
}

td {
    background: #abebc6;
    padding: 10px;
}

.msjAdvertencia {
	background-color:  #f1c40f; 
	padding: auto;
	text-align: center;
	width: 38%;
	margin: 10px;
}

.btnAceptar {
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btnEditar{
	background-color: #dce168; 
    border: none;
    color: black;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.btnEliminar{
	background-color: #f1948a; 
    border: none;
    color: black;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
